<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicio" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:33394/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServicio" contract="Servicio.IServicio"
                name="BasicHttpBinding_IServicio" />
        </client>
    </system.serviceModel>
</configuration>